/*BASE SETUPS*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

section {
  padding: 40px;
}

/*REUSEABLE COMPONENTS*/
.card {
  margin: 0 auto;
}
.credit-card-thumbnail {
  width: 100px;
  height: 100px;
  margin-right: 10px;
}

/*WALLET SECTION*/

.wallet-name {
  display: inline-block;
}
.wallet-balance {
  display: inline-block;
  float: right;
}
/*TOPUP SECTION*/

.topup {
  width: 30%;
}
