/*BASE SETUPS*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

section {
  padding: 40px;
}

/*REUSEABLE COMPONENTS*/
.card {
  margin: 0 auto;
}
.credit-card-thumbnail {
  width: 100px;
  height: 100px;
  margin-right: 10px;
}
.datepickers-container {
  z-index: 1050;
}
/*SUMMARY SECTION*/
.credit-card-thumbnail {
  cursor: pointer;
}
/*WALLET SECTION*/

.wallet-name {
  display: inline-block;
}
.wallet-balance {
  float: right;
}
/*TOPUP SECTION*/

.topup {
  width: 30%;
}
.bill-name,
.bill-title {
  color: white;
  font-weight: 700;
  background: lightseagreen;
  padding: 5px 15px;
  border-radius: 5px;
}
.bill-title {
  font-size: 20px;
}
.type-of-bill {
  color: whitesmoke;
  font-size: 13px;
  font-weight: 300;
}
